

/**
 * Logo.
 *
 * *.logo[data-logo][data-color]
 *   *
 */

.logo {
  margin: 0; /* reset */
  position: relative;
  display: inline-block;
  vertical-align: middle; /* not baseline, so we align up _and_ down */
  height: 1em; /* keep height constant regardless of innards */
}

.logo > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-indent: -9999px; /* image replacement */
  direction: ltr; /* make text-indent play nice */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/**
 * Duo logo.
 */

.logo[data-logo="Duo"] {
  width: 3.1285714285714286em;
}

.logo[data-logo="Duo"] > * {
  background-image: url(components/duojs-logo@0.0.2/images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Duo"][data-color="black"] > * {
  background-image: url(components/duojs-logo@0.0.2/images/logo-black.svg);
}

.logo[data-logo="Duo"][data-color="white"] > * {
  background-image: url(components/duojs-logo@0.0.2/images/logo-white.svg);
}

.title {
  font-size: 3em;
}
